RFC 5746 (secure renegotiation) support

The site presently does not support [RFC 5746](https://tools.ietf.org/html/rfc5746) secure renegotiation at all.  Ironically, this means extra-paranoid clients -- the very ones the site should be encouraging the existence of -- will refuse even to connect.  For more information, see [the original writeup of the exploit](https://web.archive.org/web/20130203213851/http://extendedsubset.com/Renegotiating_TLS.pdf) (PDF) and [Mozilla's summary of the issue and description of its (transitional) client behavior](https://wiki.mozilla.org/Security:Renegotiation).

A proper fix has two facets:
- At the network level, implement the new handshake behavior described in [RFC 5746 section 3.6](https://tools.ietf.org/html/rfc5746#section-3.6). It is not actually necessary to implement _renegotiation_ if it's not already present in the library; the additional handshake logic is just to assure the client that a MITM cannot apply the exploit described above to this server.  If the server _does_ implement TLS renegotiation, however, one must also make sure the insecure variant is no longer accepted.
- At the webapp level, distinguish clients that do .vs. do not implement their half of the above handshake behavior.  This probably ought to be its own section (stick it in between the existing "BEAST vulnerability" and "Insecure Cipher Suites" sections, maybe?)
